<app-navigation></app-navigation>
<main>
    <app-welcome-page></app-welcome-page>

    <article class="consultation-article text-center">
        <h3>Discover wellbeing services near you</h3>
        <p class="py-4">Displaying nearby wellbeing for <span style="color: #00bd71">Hawthorn <i class="fa fa-caret-down" aria-hidden="true"></i></span></p>
        <section class="landing-article">
            <app-health-card [cardData]="cardData"></app-health-card>
            <div class="click-action py-5 my-5">
                <app-button [width]="'275px'" [height]="'34px'" [fontSize]="'12px'" [text]="'FIND MORE WELLBEING NEARBY'"></app-button>
            </div>
        </section>
    </article>
</main>