@font-face {
    font-family: "welcomeFont";
    src: url('../../../assets/Recoleta-RegularDEMO.otf');
}

.landing-article{
    padding: 0 40px;
    overflow: auto;
}

main{
    background-color: #095d59;
}

.consultation-article{
    padding: 30px 0 0 0;
    color: white;
    font-family: "welcomeFont", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



